
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    margin-bottom: 30px;
    font-size: 32px;
}

h1 span{
    color:#EE24FF;
}

p{
    color: #828282;
    margin-bottom: 20px;
    font-size: 15px;
}

#main{
    width:630px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding:10px;
   
}

#main img{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 350px;
    height: 230px;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: max-content;
    min-width: 100%;
    margin-top: 100px;
    height: 176px;
   
}

#footer a{
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #000;

}

#footer img{
    min-width: 100%;
    width: max-content;
    

}
#footer a{
    margin-top: 5px;
}
#footer a+a+a, a+a{
    margin-left: 72px;
}

#line{
    width: 600px;
    border: 1px solid #ECEFF2;
    margin-bottom: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
  
}